@import "partials/animations";

.stop-color41{
  stop-color: $ColorMenu41;
}

.stop-color42{
  stop-color: $ColorMenu42;
}

/// NOUVEAU CSSSSSSSSSSSSSSSSSSSSSSSS ///

//Addition-> Variables + animation wiggle

a{
  text-decoration: none;
  color: inherit;
  z-index: 4;
}

.meera{
  font-family: 'Meera Inimai', sans-serif;
}

.inline{
  display: inline-block;
  white-space: nowrap;
}

.nowrap{
  white-space: nowrap;
}

//Layout 

html {
  display: flex;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header{
  background-color: $BackgroundColor;
  color: $ScripturalColor;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 20px;
  padding-bottom: 20px;
  &__Title{
    letter-spacing: -1px;
    margin:0;
    padding:0;
    font-size: 30px;
  }
}

.Footer{
  background-color: $BackgroundColor;
  color: $ScripturalColor;
  width:100%;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 5;
  &__Left{
    display: inline-block;
    letter-spacing: -1px;

    padding-left: 10px;
    font-size: 15px;
    line-height: 100%;
  }
  &__Right{
    display: inline-block;
    letter-spacing: -1px;

    padding-right: 10px;
    font-size: 15px;
    line-height: 100%;
  }
}

//PAGE 1
  //MAIN
.sub-main{ //ex main
  display: flex;
  flex-flow: row wrap;
  width: 450px;
  justify-content: center;
}

.carte{
  width:160px;
  height:225px;
  box-shadow: 0.1em 0.1em 1em #aaa;
  display:flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  &--1{
    background-color: $Color1;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 15px;
    margin-bottom: 12.5px;
    color: $ColorMenu11;
    font-family: 'Devonshire', cursive;
  }
  &--2{
    background-color: $Color2;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 12.5px;
    color: $ColorMenu21;
    font-family: 'Croissant One', cursive;
  }
  &--3{
    background-color: $Color3;
    margin-top: 12.5px;
    margin-left: 50px;
    margin-right: 15px;
    margin-bottom: 27px;
    color: $ColorMenu32;
    font-family: 'Dancing Script', cursive;
  }
  &--4{
    background-color: $Color4;
    margin-top: 12.5px;
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 27px;
    color: $ColorMenu41;
    font-family:'Kaushan Script', cursive;
  }
}

  //BOUTON
.btn{
  z-index:-1;
  background-color: $BackgroundColor;
  color: $ScripturalColor;
  border-radius: 10px;
  width: 190px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  } 

  //Menus et Titres
  

  //Titre2
  .Titre{
    &--1{
      font-size:15px;
      margin-top:4px;
    }
    &--2{
      background: linear-gradient(to right, $ColorMenu21 0%, $ColorMenu22 50%, $ColorMenu23 100%);
//      background-image: linear-gradient(to right, $ColorMenu21 0%, $ColorMenu22 50%, $ColorMenu23 100%);
      background-clip: text;
      color: transparent;
      text-anchor:middle;//
//        -webkit-background-clip: text;
//        -moz-background-clip: text;
//        -webkit-text-fill-color: transparent; 
//        -moz-text-fill-color: transparent;
      font-size:11px;
    }
    &--3{
      background: linear-gradient(to right, $ColorMenu31 0%, $ColorMenu32 50%, $ColorMenu33 100%);
      background-clip: text;
      color: transparent;
      font-family: 'Dancing Script', cursive;
      text-anchor:middle;//
      font-size:15px;
    }
    &--4{
      background: linear-gradient(to right, $ColorMenu41 0%, $ColorMenu42 100%);
      background-clip: text;
      color: transparent;
      justify-content: center;
      text-anchor:middle;//
      font-size:15px;
    }
  }

  //svg1 (SVG)

  .svg1haut{
    width: auto;
    height: 35px;
    margin-top: 25px;
  }

  .svg1bas{
    width: auto;
    height: 20px;
  }

  .stop-color11{
    stop-color: $ColorMenu12;
  }
  
  .stop-color12{
    stop-color: $ColorMenu13;
  }

  .stop-color21{
    stop-color: $ColorMenu21;
  }
  
  .stop-color23{
    stop-color: $ColorMenu23;
  }

  .stop-color31{
    stop-color: $ColorMenu31;
  }
  
  .stop-color33{
    stop-color: $ColorMenu33;
  }

  // Mentions légales //

  .MentionsLégales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: justify;
    width: 80%;
    margin-bottom: 50px;
    &__Titre{
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }
    & p{
      width: 100%;
      margin: 0 0 7px 0;
    }
  }

  /// Pages secondaires ///

  .CARTE{
    width:350px;
    height:490px;
    box-shadow: 0.1em 0.1em 1em #aaa;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 75px;
    &--1{
      background-color: $Color1;
      color: $ColorMenu11;
      fill: $ColorMenu11;
      font-family: 'Devonshire', cursive;
    }
    &--2{
      background-color: $Color2;
      font-family: 'Croissant One', cursive;
    }
    &--3{
      background-color: $Color3;
      font-family: 'Sofadi One', cursive;
    }
    &--4{
      background-color: $Color4;
      font-family: 'Kaushan Script', cursive;
    }
  }

  .TITRE{
    font-size: 15px;
    padding:0;
    margin-top: 30px;
    margin-bottom:15px;
    text-shadow: 0.1em 0.1em 1em #aaa;
    color: #383838;
  }

  .SOUS-TITRE{
    font-size: 18px;
    padding:0;
    margin-top: 0;
    margin-bottom:18px;
/*    &--1{
    }
    &--2{
      background: linear-gradient(to right, $ColorMenu21 0%, $ColorMenu22 70%, $ColorMenu23 100%);
      background-clip: text;
    }*/
    &--Grand{
      font-size: 30px;
    }
  }

  .PARTIE{
    margin-left: auto;
    margin-right: auto;
    width:275px;
    display:flex;
    flex-direction: column;
    &__TITRE{
      width: 100%;
      display:flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &--Col21{
      color: $ColorMenu21;
      fill: $ColorMenu21;
      font-size: 9px;
      width:320px;
    }
    &--Col22{
      color: $ColorMenu22;
      fill: $ColorMenu22;
      font-size: 9px;
      width:320px;
    }
    &--Col23{
      color: $ColorMenu23;
      fill: $ColorMenu23;
      font-size: 9px;
      width:320px;
    }
    &--Col31{
      fill: $ColorMenu31;
      font-size: 10px;
      width:320px;
    }
    &--Col32{
      fill: $ColorMenu32;
      font-size: 10px;
      width:320px;
    }
    &--Col33{
      fill: $ColorMenu33;
      font-size: 10px;
      width:320px;
    }
    &--Col4{
      font-size: 10px;
      width:320px;
    }
  }

  .DECO{
    width: 85px;
    &--Grand{
      width: 100px;
    }
  }

  .LIGNE{
    width:100%;
    display: flex;
    font-size: 9px;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    &__PLAT{
      display: flex;
      width:85%;
    }
    &__PRIX{
      display: flex;
      width:15%;
      text-align: end;
    }
    &--2{
      font-size: 6.8px;
      margin-top: 8px;
      width:255px;
    }
    &--3{
      font-size: 7.5px;
      margin-top: 10px;
      width:255px;
    }
    &--4{
      font-size: 7.5px;
      margin-top: 7px;
      width:255px;
    }
  }

  .BOTTOM-SPACE{
    margin-bottom: 25px;
    &--TPetit{
      margin-bottom: 5px;
    }
    &--Petit{
      margin-bottom: 15px;
    }
    &--Moyen{
      margin-bottom: 35px;
    }
    &--Grand{
      margin-bottom: 45px;
    }
  }

  .TOP-SPACE{
    margin-top: 50px;
    &--Petit{
      margin-top: 40px;
    }
  }

  .LAST{
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    white-space: nowrap;
  }

/// Nouveau 3 //



.MenuP{
  display:flex;
  justify-content: center;
  font-size: 16px;
  &--1{
    font-family: 'Pangolin', cursive;
  }
  &--2{
    font-family: 'Abril Fatface', cursive;
  }
  &--3{
    font-family: 'Bad Script', cursive;
  }
  &--4{
    font-family: 'Bad Script', cursive;
  }
}

.SVGP{
  margin-bottom: -95px;
  height:120px;
  width:130px;
  
}

.Note{
  width: auto;
  height: 40px;
}

p{
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.LIGNE{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 9px;
  justify-content: space-between;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: left;
  & li.LIGNE__UNIQUE{
    display: inline-block;
    width:100%;
  }
  & li.LIGNE__PLAT{
    display: inline-block;
    width:85%;
  }
  & li.LIGNE__PRIX{
    display: inline-block;
    width:15%;
    text-align: end;
  }
  &--2{
    font-size: 6px;
    margin-top: 8px;
    width:255px;
  }
  &--3{
    font-size: 7.5px;
    margin-top: 10px;
    width:255px;
  }
  &--4{
    font-size: 7.5px;
    margin-top: 7px;
    width:255px;
  }
}

  li{
    margin-bottom: 5px;
  }

  .SPACE-BETWEEN{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--1{
      height:300px;
    }
    &--2{
      height:280px;
    }
    &--3{
      margin-top: 10px;
      height:290px;
    }
    &--4{
      height:300px;
    }
  }

/// Fin Nouveau 3 ///

///   /// Responsiv ///   ///  ///  ///  ///

// Debut Responsiv très petit
@media screen and (max-width: 360px){

  .sub-main{ /// main
    flex-flow: column wrap;
    width: 100%;
    align-items: center;
  }

  //Index
  .carte{
    width:280px;
    height:395px;
    &--1{
      margin: 30px 0 0 0;
    }
    &--2{
      margin: 30px 0 0 0;
    }
    &--3{
      margin: 30px 0 0 0;
    }
    &--4{
      margin: 30px 0 25px 0;
    }
  }

  .Note{
    width: auto;
    height: 50px;
  }

  .Titre{
    &--1{
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    &--2{
      font-size: 16px;
    }
    &--3{
      font-size: 20px;
    }
    &--4{
      font-size: 20px;
    }
  }

  .SVGP{
    margin-bottom: -125px;
    height:150px;
    width:200px;
  }

  .MenuP{
    font-size:30px;
  }


  ///Fin Index
  //Carte
  .CARTE{
    width:300px;
  }

  .PARTIE{
    &--Col21{
      width:300px;
    }
    &--Col22{
      width:300px;
    }
    &--Col23{
      width:300px;
    }
    &--Col31{
      width:285px;
    }
    &--Col32{
      width:285px;
    }
    &--Col33{
      width:285px;
    }
    &--Col4{
      width:285px;
    }
  }

  .DECO{
    &--Grand{
      width: 90px;
    }
  }

} 
/// Fin Responsiv Très petit

/// Ecran Petit

@media screen and (min-width: 525px) and (max-width: 736px){
  .sub-main{ ///main
    width: 520px;
    flex-flow: row wrap;
  }

  //Index
  .carte{
    width:245px;
    height:330px;
    box-shadow: 0.1em 0.1em 1em #aaa;
    &--1{
      margin-left: 5px;
      margin-right: 10px;
    }
    &--2{
      margin-left: 10px;
      margin-right: 5px;
    }
    &--3{
      margin-left: 5px;
      margin-right: 10px;
    }
    &--4{
      margin-left: 10px;
      margin-right: 5px;
    }
  }

  .Note{
    width: auto;
    height: 50px;
  }

  .Titre{
    &--1{
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    &--2{
      font-size: 16px;
    }
    &--3{
      font-size: 20px;
    }
    &--4{
      font-size: 20px;
    }
  }

  .SVGP{
    margin-bottom: -125px;
    height:150px;
    width:200px;
  }

  .MenuP{
    font-size:30px;
  }

  .Header{
    &__Title{
      font-size: 30px;
    }
  }

  .Footer{
    &__Left{
      font-size: 25px;
    }
    &__Right{
      font-size: 25px;
    }
  }

  //Fin Index
  //Cartes

  .CARTE{
    width:500px;
    height:695px;
  }

  .PARTIE{
    width:450px;
    &--Col21{
      width:490px;
    }
    &--Col22{
      width:490px;
    }
    &--Col23{
      width:490px;
    }
    &--Col31{
      width:475px;
    }
    &--Col32{
      width:475px;
    }
    &--Col33{
      width:475px;
    }
    &--Col4{
      width:450px;
    }
    &__TITRE{
      font-size:20px;
      &--2{
        font-size:14px;
      }
    }
  }

  .DECO{
    width: 120px;
    &--Grand{
      width: 130px;
    }
  }

  .SOUS-TITRE{
    font-size: 26px;
    &--Grand{
      font-size: 35px;
    }
  }

  .svg1haut{
    height: 50px;
  }

  .svg1bas{
    height: 35px;
  }

  .LIGNE{
    font-size: 17px;
    &--2{
      font-size: 11px;
      width:430px;
    }
    &--3{
      font-size: 11px;
      width:420px;
    }
    &--4{
      font-size: 12px;
      width:400px;
    }
  }

  .LAST{
    font-size: 20px;
  }

  .TITRE{
    font-size: 20px;
  }

  .BOTTOM-SPACE{
    margin-bottom: 40px;
    &--Moyen{
      margin-bottom: 60px;
    }
    &--Grand{
      margin-bottom: 70px;
    }
  }

  ul.LIGNE{
    font-size: 17px;
    &--2{
      font-size: 10px;
      width:430px;
    }
    &--3{
      font-size: 11px;
      width:415px;
    }
    &--4{
      font-size: 12px;
      width:400px;
    }
  }

  li{
    margin-bottom: 8px;
  }

  .SPACE-BETWEEN{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--1{
      height:475px;
    }
    &--2{

      height:455px;
    }
    &--3{
      margin-top: 10px;
      height:425px;
    }
    &--4{
      height:475px;
    }
  }
  
}
// FIN Responsiv Petit

// Debut Responsiv Intermédiaire
@media screen and (min-width: 737px) and (max-width: 980px){
  .sub-main{  ///main
    width: 720px;
    flex-flow: row wrap;
  }

  //Index
  .carte{
    width:350px;
    height:465px;
    box-shadow: 0.1em 0.1em 1em #aaa;
    &--1{
      margin-left: 0px;
      margin-right: 10px;
    }
    &--2{
      margin-left: 10px;
      margin-right: 0px;
    }
    &--3{
      margin-left: 0px;
      margin-right: 10px;
    }
    &--4{
      margin-left: 10px;
      margin-right: 0px;
    }
  }

  .Note{
    width: auto;
    height: 100px;
  }

  .Titre{
    &--1{
      font-size:25px;
    }
    &--2{
      font-size: 25px;
    }
    &--3{
      font-size: 30px;
    }
    &--4{
      font-size: 30px;
    }
  }

  .SVGP{
    margin-bottom: -175px;
    height:225px;
    width:300px;
  }

  .MenuP{
    font-size:40px;
  }

  .Header{
    &__Title{
      font-size: 35px;
    }
  }

  .Footer{
    &__Left{
      font-size: 25px;
      margin-left: 25px;
    }
    &__Right{
      font-size: 25px;
      margin-right: 25px;
    }
  }

  .btn{
    width: 250px;
    font-size: 20px;
    }    

    // Fin Index
    // Debut Cartes

    .CARTE{
      width:720px;
      height:1000px;
    }
  
    .PARTIE{
      width:600px;
      &--Col21{
        width:700px;
      }
      &--Col22{
        width:700px;
      }
      &--Col23{
        width:700px;
      }
      &--Col31{
        width:680px;
      }
      &--Col32{
        width:680px;
      }
      &--Col33{
        width:680px;
      }
      &--Col4{
        width:680px;
      }
      &__TITRE{
        font-size:28px;
        &--2{
          font-size:23px;
          margin-bottom: 7px;
        }
        &--3{
          font-size:22px;
          margin-bottom: 7px;
        }
      }
    }
  
    .DECO{
      width: 190px;
      &--Grand{
        width: 200px;
      }
    }
  
    .SOUS-TITRE{
      font-size: 30px;
      margin-bottom:30px;
      &--Grand{
        font-size: 60px;
      }
    }
  
    .svg1haut{
      height: 75px;
      margin-top: 50px;
    }
  
    .svg1bas{
      height: 60px;
    }
  
    .LIGNE{
      font-size: 22px;
      &--2{
        font-size: 16px;
        width:600px;
        margin-top: 11px;
      }
      &--3{
        font-size: 17px;
        width:600px;
        margin-top: 12px;
      }
      &--4{
        font-size: 18px;
        width:600px;
      }
    }
  
    .LAST{
      font-size: 25px;
      margin-top: 40px;
    }
  
    .TITRE{
      font-size: 25px;
    }
  
    .BOTTOM-SPACE{
      margin-bottom: 80px;
      &--Moyen{
        margin-bottom: 80px;
      }
      &--Grand{
        margin-bottom: 90px;
      }
    }

    .TOP-SPACE{
      margin-top: 100px;
      &--Petit{
        margin-top: 85px;
      }
    }

    ul.LIGNE{
      font-size: 22px;
      &--2{
        font-size: 16px;
        margin-top: 11px;
        width:600px;
      }
      &--3{
        font-size: 16px;
        width:600px;
        margin-top: 12px;
      }
      &--4{
        font-size: 18px;
        width:600px;
      }
    }

    li{
      margin-bottom: 15px;
    }

    .SPACE-BETWEEN{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--1{
        height:650px;
      }
      &--2{
        height:700px;
      }
      &--3{
        margin-top: 25px;
        height:600px;
      }
      &--4{
        height:650px;
      }
    }
    
}
// Fin Responsiv Intermediaire 
// Debut Responsiv Desktop
@media screen and (min-width: 981px) and (max-width: 1280px){
  .sub-main{ ///main
    width: 950px;
    flex-flow: row wrap;
  }

  //Index
  .carte{
    width:450px;
    height:600px;
    box-shadow: 0.1em 0.1em 1em #aaa;
    &--1{
      margin-top: 60px;
      margin-left: 0px;
      margin-right: 25px;
    }
    &--2{
      margin-top: 60px;
      margin-left: 25px;
      margin-right: 0px;
    }
    &--3{
      margin-top: 30px;
      margin-left: 0px;
      margin-right: 25px;
      margin-bottom: 50px;
    }
    &--4{
      margin-top: 30px;
      margin-left: 25px;
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }

  .Note{
    width: auto;
    height: 125px;
  }

  .Titre{
    &--1{
      font-size: 35px;
    }
    &--2{
      font-size: 30px;
    }
    &--3{
      font-size: 35px;
    }
    &--4{
      font-size: 35px;
    }
  }

  .SVGP{
    margin-bottom: -175px;
    height:250px;
    width:350px;
  }

  .MenuP{
    font-size:40px;
  }

  .Header{
    &__Title{
      font-size: 40px;
    }
  }

  .Footer{
    &__Left{
      font-size: 28px;
      margin-left: 25px;
    }
    &__Right{
      font-size: 28px;
      margin-right: 25px;
    }
  }

  .btn{
    width: 275px;
    font-size: 23px;
    margin-bottom: 80px;
    }    

    // Fin Index
    // Debut Cartes

    .CARTE{
      width:950px;
      height:1250px;
      margin-bottom: 110px;
    }
  
    .PARTIE{
      width:825px;
      &--Col21{
        width:900px;
      }
      &--Col22{
        width:900px;
      }
      &--Col23{
        width:900px;
      }
      &--Col31{
        width:850px;
      }
      &--Col32{
        width:850px;
      }
      &--Col33{
        width:850px;
      }
      &--Col4{
        width:850px;
      }
      &__TITRE{
        font-size:32px;
        &--2{
          font-size:27px;
          margin-bottom: 10px;
        }
        &--3{
          font-size:26px;
          margin-bottom: 10px;
        }
      }
    }
  
    .DECO{
      width: 240px;
      &--Grand{
        width: 250px;
      }
    }
  
    .SOUS-TITRE{
      font-size: 34px;
      margin-bottom:40px;
      &--Grand{
        font-size: 75px;
      }
    }
  
    .svg1haut{
      height: 115px;
      margin-top: 70px;
    }
  
    .svg1bas{
      height: 85px;
    }
  
    .LIGNE{
      font-size: 26px;
      &--2{
        font-size: 20px;
        width:800px;
        margin-top: 14px;
      }
      &--3{
        font-size: 21px;
        width:800px;
        margin-top: 16px;
      }
      &--4{
        font-size: 22px;
        width:800px;
      }
    }
  
    .LAST{
      font-size: 29px;
      margin-top: 50px;
    }
  
    .TITRE{
      font-size: 29px;
    }
  
    .BOTTOM-SPACE{
      margin-bottom: 95px;
      &--Moyen{
        margin-bottom: 95px;
      }
      &--Grand{
        margin-bottom: 110px;
      }
    }

    .TOP-SPACE{
      margin-top: 115px;
      &--Petit{
        margin-top: 95px;
      }
    }

    ul.LIGNE{
      font-size: 26px;
      &--2{
        font-size: 19px;
        margin-top: 14px;
        width:800px;
      }
      &--3{
        font-size: 21px;
        width:800px;
        margin-top: 16px;
      }
      &--4{
        font-size: 22px;
        width:800px;
      }
    }

    li{
      margin-bottom: 20px;
    }

    .SPACE-BETWEEN{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--1{
        height:750px;
      }
      &--2{
        margin-top: 25px;
        height:825px;
      }
      &--3{
        margin-top: 50px;
        height:750px;
      }
      &--4{
        height:800px;
      }
    }
    
}

// Fin Responsiv Desktop
// Debut Responsiv Grand Ecran

@media screen and (min-width: 1281px){
  .sub-main{ ///main
    width: 1250px;
    flex-flow: row wrap;
  }

  //Index
/*  //pour les 4 cartes en ligne
    .carte{
    width:275px;
    height:370px;
    box-shadow: 0.1em 0.1em 1em #aaa;
    &--1{
      margin-top: 35px;
      margin-left: 0px;
      margin-right: 25px;
      margin-bottom: 30px;
    }
    &--2{
      margin-top: 35px;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 30px;
    }
    &--3{
      margin-top: 35px;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 30px;
    }
    &--4{
      margin-top: 35px;
      margin-left: 25px;
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }

  .SVGP{
    margin-bottom: -115px;
    height:150px;
    width:200px;
  }
 */

  .Header{
    &__Title{
      font-size: 45px;
    }
  }

  .carte{
    width:600px;
    height:800px;
    box-shadow: 0.1em 0.1em 1em #aaa;
    &--1{
      margin-top: 60px;
      margin-left: 0px;
      margin-right: 25px;
    }
    &--2{
      margin-top: 60px;
      margin-left: 25px;
      margin-right: 0px;
    }
    &--3{
      margin-top: 30px;
      margin-left: 0px;
      margin-right: 25px;
      margin-bottom: 50px;
    }
    &--4{
      margin-top: 30px;
      margin-left: 25px;
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }

  .Note{
    width: auto;
    height: 150px;
  }

  .Titre{
    &--1{
      font-size: 30px;
    }
    &--2{
      font-size: 35px;
    }
    &--3{
      font-size: 40px;
    }
    &--4{
      font-size: 40px;
    }
  }

  .SVGP{
    margin-bottom: -225px;
    height:300px;
    width:400px;
  }

  .MenuP{
    font-size: 45px;
  }

  .Footer{
    &__Left{
      font-size: 30px;
      margin-left: 35px;
    }
    &__Right{
      font-size: 30px;
      margin-right: 35px;
    }
  }

  .btn{
    width: 350px;
    font-size: 25px;
    margin-bottom: 80px;
    }

    // Fin Index
    // Debut Cartes

    .CARTE{
      width:1200px;
      height:1450px;
      margin-bottom:110px;
    }
  
    .PARTIE{
      width:1000px;
      &--Col21{
        width:1100px;
      }
      &--Col22{
        width:1100px;
      }
      &--Col23{
        width:1100px;
      }
      &--Col31{
        width:1050px;
      }
      &--Col32{
        width:1050px;
      }
      &--Col33{
        width:1050px;
      }
      &--Col4{
        width:1050px;
      }
      &__TITRE{
        font-size:35px;
        &--2{
          font-size:30px;
          margin-bottom: 13px;
        }
        &--3{
          font-size:35px;
          margin-bottom: 13px;
        }
      }
    }
  
    .DECO{
      width: 310px;
      &--Grand{
        width: 320px;
      }
    }
  
    .SOUS-TITRE{
      font-size: 40px;
      margin-bottom:50px;
      &--Grand{
        font-size: 85px;
      }
    }
  
    .svg1haut{
      height: 130px;
      margin-top: 80px;
    }
  
    .svg1bas{
      height: 100px;
    }
  
    .LIGNE{
      font-size: 29px;
      &--2{
        font-size: 23px;
        width:1000px;
        margin-top: 17px;
      }
      &--3{
        font-size: 24px;
        width:1000px;
        margin-top: 19px;
      }
      &--4{
        font-size: 25px;
        width:1000px;
      }
    }
  
    .LAST{
      font-size: 32px;
      margin-top: 80px;
    }
  
    .TITRE{
      font-size: 32px;
    }
  
    .BOTTOM-SPACE{
      margin-bottom: 130px;
      &--Moyen{
        margin-bottom: 125px;
      }
      &--Grand{
        margin-bottom: 140px;
      }
    }

    .TOP-SPACE{
      margin-top: 140px;
      &--Petit{
        margin-top: 110px;
      }
    }

    ul.LIGNE{
      font-size: 29px;
      &--2{
        font-size: 23px;
        margin-top: 17px;
        width:1000px;
      }
      &--3{
        font-size: 26px;
        width:1000px;
        margin-top: 19px;
      }
      &--4{
        font-size: 25px;
        width:1000px;
      }
    }

    li{
      margin-bottom: 22px;
    }

    .SPACE-BETWEEN{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--1{
        height:850px;
      }
      &--2{
        height:950px;
      }
      &--3{
        margin-top: 50px;
        height:850px;
      }
      &--4{
        height:950px;
      }
    }
        
}