$BackgroundColor: rgb(87, 156, 135);
$ScripturalColor: rgb(252, 202, 70);
$Color1: rgb(252, 223, 219);
$Color2: rgb(255, 245, 254);
$Color3: rgb(249, 249, 249);
$Color4: rgb(253, 255, 253);
$ColorMenu11:#45181F;
$ColorMenu12:#FF5560;
$ColorMenu13:#FF8C68;
$ColorMenu21: #D2700E;
$ColorMenu22: #AE6598;
$ColorMenu23: #734DCC;
$ColorMenu31: #002EDD;
$ColorMenu32: #0071F4;
$ColorMenu33: #009EFA;
$ColorMenu41:#0A993F;
$ColorMenu42:#A9FF7C;